@import url('./normalize.css');

@font-face {
  font-family: 'Rader';
  font-style: normal;
  font-weight: 400;
  src: local('Rader'), url('../fonts/PPRader-Regular.woff2') format('woff2');
}

html {
  font-family: 'Rader', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: end;
  gap: 1rem;
  padding: 1rem;
}

.header p {
  font-size: 1.25rem;
  font-weight: 400;
}
.header a {
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}
